@charset "UTF-8";

.cus {
    width           :   100%;
    text-align      :   center;
    border-collapse :   collapse;
    border-spacing  :   0;
    table-layout    :   fixed;
}

.tr1{
    border-top: solid 1px #3a3a3a;
    vertical-align: top;
}
   
.cus tr:nth-child(2n+1) {
    background-color    :   #F0F0F0;
}

.cus th {
    padding             :   10px;
    background-color    :   #7a7a7a;
    border-right        :   solid 1px #3a3a3a;
    color               :   #fff;
    font-weight         :   normal;
}

.cus th:last-child {
    border-right    :   none;
}

.cus td {
    padding         :   5px ;
    border-right    :   solid 1px #3a3a3a; 
}

.cus td:last-child {
    border-right    :   none;
}

.td1{
    text-align: left;
}

.cus input{
    width       :   100px;
    font-size   :   18px;
}

.size1 {
    width   :   110px;
}
.size2 {
    width   :   160px;
}
.size3 {
    width   :   60px;
}


@media screen and (min-width:480px) and (max-width:799.9px) {
    .size4{
        width: 300px;
    }

    .scroll {
        overflow-x: scroll;
        width: 100%;
    }
}