@charset "UTF-8";
html {
	font-family     :	sans-serif;
	box-sizing		:	border-box;
    overflow-x: hidden;
}

body{
    margin      :   0px;
    color       :   #3a3a3a;   
}

main{
	padding		:	0px 8vw;
    font-size   :   18px;
}

h2 {
    border-bottom   :   6px solid #8200b5;
    padding         :   5px 20px;
    margin          :   25px 0px;
    font-size       :   24px;
}

h3{
    border-bottom   :   5px dotted #8200b5;
    width           :   230px;
    padding         :   5px 20px;
    margin          :   25px 50px;
    font-size       :   18px;
}


.items{
    display     :   flex;
    flex-wrap   :   wrap;
}

.item{
    width       :   240px;
    height      :   150px;
    border      :   solid 3px #333333;
    margin      :   0px 30px 50px 0px;
    padding     :   10px;
}

@media screen and (min-width:1280px) {
    body{
        padding :   120px 0px 0px;
    }
}

@media screen and (min-width:960px) and (max-width:1279.9px) {
    body{
        padding :   120px 0px 0px;
    }

}

@media screen and (min-width:850px) and (max-width:959.9px) {
    body{
        padding :   120px 0px 0px;
    }
}

@media screen and (min-width:600px) and (max-width:849.9px) {
}

@media screen and (min-width:480px) and (max-width:599px) {
}