@charset "UTF-8";

.table1-inner, .table2-inner {
    border: solid 3px #3a3a3a;
}

.table1-inner caption{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin: 0px 20px 10px;
}

.table1-inner span{
    color: red;
    margin-left: 30px
}

.table1 th, .table2 th{
    font-size: 20px;
    font-weight: normal;
    border-right: dashed 3px #3a3a3a;
}

.table2-inner caption{
    text-align: left;
    margin: 18px 20px 10px;
}


@media screen and (min-width:1280px) {
    .tables{
        display     :   flex;
        align-items: flex-start;
    }

    .table1{
        width: 525px;
    }

    .table1 tr, .table2 tr{
        height: 35px;
    }

    .table1 th, .table2 th{
        width: 100px;
    }

    .table1 td, .table2 td{
        padding: 0px 10px 0px;
    }

    .table2{
        width: 418px;
        margin-left: auto;
    }
}


@media screen and (min-width:960px) and (max-width:1279.9px) {
    .tables{
        display     :   flex;
        align-items: flex-start;
    }

    .table1{
        width: 425px;
    }

    .table1 tr, .table2 tr{
        height: 35px;
    }

    .table1 th, .table2 th{
        width: 80px;
    }

    .table1 td, .table2 td{
        padding: 5px 0.7vmax 0px;
        font-size: 15px;
        vertical-align: top;
    }

    .table2{
        width: 340px;
        margin-left: auto;
    }
}

@media screen and (min-width:480px) and (max-width:959.9px) {
    .table1{
        width: 425px;
        margin-bottom: 20px;
    }

    .table1 tr, .table2 tr{
        height: 35px;
    }

    .table1 th, .table2 th{
        width: 80px;
    }

    .table1 td, .table2 td{
        padding: 5px 0.7vmax 0px;
        font-size: 15px;
        vertical-align: top;
    }

    .table2{
        width: 340px;
        margin-bottom: 50px;
    }
}