@charset "UTF-8";
html {
	font-family     :	sans-serif;
	box-sizing		:	border-box;
    overflow-x: hidden;
    height: 100%;
}

body{
    margin  :   0px auto;
    color   :   #343F56;
    height: 100%;
}

main{
    padding		:	58px 8vw 30px;
    font-size   :   15px;
    background-color: #FFEFA1;
    height: auto;
    min-height: calc(100% - 88px);
}

h2 {
    background-color: #FB930080;
    box-shadow: 0px 0px 0px 5px #FB930080;
    border: dashed 2px #fff;
    padding: 5px 10px;
    margin: 40px 0px 20px;
    font-size: 16px;
}

.click {
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.go, .back, .back2{
    text-decoration: none;
    user-select: none;
    border-radius: 5px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    transition: 0.2s ease;
}

.go, .back{
    margin: 0px 30px;
}

.back2 {
    margin: 0px;
}

.go {
    padding: 5px 15px;
    color: #fff;
    background-color: #F54748;
    border: 1px #F54748 solid;
}

.go:hover{
    background-color: #ff8080;
    border: 1px #ff8080 solid;
}

  
.go:hover, .back:hover, .back2:hover{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.back, .back2{
    padding: 3px 10px;
    color: #343F56;
    background-color: #bebebe;
    border: 1px #bebebe solid;
}


.idnum {
    display: flex;
    margin: 10px 0px;
    font-size: 16px;
}

.idnum button {
    font-size: 12px;
    margin-left: auto;
}


@media screen and (min-width:480px) {
    main{
        width: 420px;
        margin: 0px auto;
    }
}

/* h2 {
    border-bottom   :   6px solid #00b5ad;
    padding         :   5px 20px;
    margin          :   25px 0px;
    font-size       :   24px;
}

h3{
    border-bottom   :   5px dotted #00b5ad;
    width           :   230px;
    padding         :   5px 20px;
    margin          :   25px 50px;
    font-size       :   18px;
}



@media screen and (min-width:1280px) {
    body{
        padding :   120px 0px 0px;
    }
}

@media screen and (min-width:960px) and (max-width:1279.9px) {
    body{
        padding :   120px 0px 0px;
    }

}

@media screen and (min-width:850px) and (max-width:959.9px) {
    body{
        padding :   120px 0px 0px;
    }
}

@media screen and (min-width:600px) and (max-width:849.9px) {
}

@media screen and (min-width:480px) and (max-width:599px) {
} */